/* style.css */
body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #A9B8B0;
}

.game-container {
    width: 70vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    background: #A9B8B0;
    width: 100%;
    height: 100%;
}